<!doctype html>
<html lang="en" ng-app="twentyCentApp">
    <head>
        <meta charset="utf-8">
        <title>20cent Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="twentyCentHomeApp.js"></script>
        <script src="twentyCentHomeCtrl.js"></script>
    </head>
    <body>
        <div ng-controller="TwentyCentController">

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                <label for="label">Label</label>
                <input id="label" type="text" class="form-control" placeholder="Label..."  ng-model="newUrl.label" />
                <label for="url">Website</label>
                <input id="url" type="url" class="form-control" placeholder="Url..."  ng-model="newUrl.url" />
                <button ng-click="addEntry()">Add</button> 
            </form>
            <hr/>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="url in urls | filter: notRecentlyVisited | orderBy:'lastVisitedDate':reverse">
                    <a href="{{ url.url }}" target="_blank" ng-click="tagAsVisitedToday(url);">{{ url.label }}</a>/ {{ url.lastVisitedDate }}
                    <span>
                        <a href="#" ng-click="editEntry(url)">Edit data</a> | 
                        <a href="#" ng-click="deleteEntry(url)">Delete data</a>
                    </span>
                </li>
            </ul>
            <hr/>

            <div>
                <button class="btn btn-default btn-lg" ng-click="resetData()"><span class="glyphicon glyphicon-remove-sign"></span> Reset data</button>
                <button class="btn btn-success btn-lg" ng-click="loadData()"><span class="glyphicon glyphicon-transferLoad"></span> Load data</button>
                <button class="btn btn-danger btn-lg" ng-click="clearData()"><span class="glyphicon glyphicon-ok-sign"></span> Clear all data</button>
                <label>Show all <input type="checkbox" ng-model="showAll"/></label>
            </div>

        </div>

    </body>
</html>
